<app-header></app-header>
<div class="row">
  <div class="col-md-4">
    <app-character [playerSelected] = "'PlayerOne'" (offenseReady)="setPlayerOneOffenseReady($event)" (defenseReady)=setPlayerOneDefenseReady($event)></app-character>
  </div>
  <div class="col-md-4" style="display: flex; align-items: center; justify-content: center ">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary" [disabled]="!(PlayerOneOffenseReady && PlayerTwoDefenseReady)" (click)="InitiateAttack('PlayerOne')"> Atacar! >>> </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-danger" [disabled]="!(PlayerOneDefenseReady && PlayerTwoOffenseReady)" (click)="InitiateAttack('PlayerTwo')"> <<< Atacar! </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <app-character [playerSelected] = "'PlayerTwo'" (offenseReady)="setPlayerTwoOffenseReady($event)" (defenseReady)=setPlayerTwoDefenseReady($event)></app-character>
  </div>
</div>
<div class="row" style="display:flex; align-items: center; justify-content: center; padding-top: 2rem" >
    <div class="form-group col-md-11">
        <textarea [disabled] = true class="form-control" rows="5" id="comment">{{result}}</textarea>
      </div>
</div>
